@import 'config.css';

.root {
	color: var(--headerColor);
    margin: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.image {
	max-width: 180px;
}

.text {
	display: block;
	margin: 1em 0 0;
	text-transform: uppercase;
}

.button {
	composes: button from 'styles/button.css';
	color: #fff;
}

.button:hover {
	background-color: #e34f26;
}