* {
  box-sizing: border-box;
}
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
}

.cover {
	position: absolute;
	top: 0;
	width: 100%;
    padding: 1em;
}